.moving-text-container {
    position: relative;
    width: 100%;
    height: 100px; /* Altura del contenedor */
    overflow: hidden;
  }
  
  .moving-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: moveAndZoom 2s infinite alternate; /* Animación que se repite infinitamente */
  }
  
  @keyframes moveAndZoom {
    0% {
      transform: translateX(-50%) scale(1); /* Tamaño normal */
    }
    50% {
      transform: translateX(-50%) scale(1.5); /* Aumenta el tamaño al 150% */
    }
    100% {
      transform: translateX(-50%) scale(1); /* Vuelve al tamaño normal */
    }
  }
  